.popup-content__field-container {
    display: grid;
    padding: 0;
    margin: 0%;
    grid-row-gap: 30px;
    border: none;
    min-height: 85px;
}

@media (max-width: 400px) {
    .popup-content__field-container {
      margin-top: 27px;
  }
}