.popup__container {
    width: 430px;
    position: relative;
    top: 23%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 330px;
    border-radius: 2.7%;
}

@media (max-width: 768px) {
    .popup__container {
        width: 55.99%;
      }
}


@media (max-width: 700px) {
    .popup__container {
        width: 57.2%;
      }
}

@media (max-width: 680px) {
    .popup__container {
        width: 60%;
        min-width: 282px;
      }
    }

    @media (max-width: 400px) {
      .popup__container {
          top: 14.4%;
          max-height: 322px;
        }
      }