.grid-list__description-container {
    margin: 0 auto;
    min-height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    position: relative;
    bottom: 2.3px;
}

@media (max-width: 1024px) {
    .grid-list__description-container  {
      width: 85.2%;
      
    }
}

@media (max-width: 900px) {
    .grid-list__description-container  {
      width: 93%;
      
    }
}

@media (max-width: 768px) {
    .grid-list__description-container  {
      width: 88.7%;
      
    }
}

@media (max-width: 520px) {
    .grid-list__description-container  {
      width: 85.2%;
      
    }
}
