.modal-content__close-btn {
    appearance: none;
    border: 0;
    background: url(../../../images/button__image/Close-Icon.svg) no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 102.8%;
    left: 102%;
    transition: opacity .2s linear .1s;
}

.modal-content__close-btn:hover {
    cursor: pointer;
    opacity: .6;
  }

  @media (max-width: 768px) {
    .modal-content__close-btn  {
      bottom: 102.8%;
      left: 102%;
  }
}

@media (max-width: 550px) {
  .modal-content__close-btn  {
     height: 6.3%;
     width: 7.2%;
  }
}

 @media (max-width: 400px) {
    .modal-content__close-btn  {
      height: 20px;
      width: 20px;
      bottom: 105%;
      left: 93%;
  }
}