.modal-content__name {
    margin-top: 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-overflow: ellipsis;
    max-width: 60%;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}